[Unit]
Description=$PROJECT_NAME Service
After=network.target

[Service]
Type=simple
ExecStart=$BUN run $WORKING_DIR/src/index.tsx
Restart=always
RestartSec=5
User=$USER
WorkingDirectory=$WORKING_DIR

[Install]
WantedBy=multi-user.target
